# イコール=のあと、スペースや"を入れないで書く。
# Azure OpenAI Service
AZURE_OPENAI_API_KEY=YOUR_AZURE_OPENAI_KEY                       # AzureポータルからコピーしたAPIキー #例：ZmJxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxOGkU39
AZURE_OPENAI_ENDPOINT=YOUR_AZURE_OPENAI_ENDPOINT                 # Azureポータルからコピーしたエンドポイント #例：https://openai-xxx-sample.openai.azure.com/
AZURE_OPENAI_API_VERSION=YYYY-MM-DD-preview                      # 例：2024-05-01-preview  #重要（今回は2024-05-01-previewで動く）
AZURE_OPENAI_DEPLOYMENT_NAME=YOUR_AZURE_OPENAI_DEPLOYMENT_NAME   # Azure AI Foundry|Azure OpenAIで作ったデプロイメント名  # 例：gpt-4o-chat-name